/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sedan:ital@0;1&display=swap');


/* wildcard selector to ovveride default browser setting*/
* {
    background-color: #ffc0a1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* general styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Sedan", sans-serif;
}

    main{
        padding-top: 30px;
    }


/* header */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

#signup{
margin-top: 50px;
}

#introduction ul{
    list-style-type: circle;
}

hr{
    color:black;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 1px;

}

#menu li {
    top: 100%;
}

/* gallery section */
#paintings ul{
    display:flex;
    flex-direction: collumn;
    
}

#paintings li{
    height:40vh;
    flex-grow: 1;
}

#paintings img{
    max-height:100%;
    max-width:100%;
    object-fit: cover;
    vertical-align: bottom;
}
#inventions ul{
    display:flex;
    flex-direction: collumn;
    
}

#inventions li{
    height:40vh;
    flex-grow: 1;
}

#inventions img{
    max-height:100%;
    max-width:100%;
    object-fit: cover;
    vertical-align: bottom;
}
/*
#paintings li:last-child{
    flex-grow:10;
}
*/

/* BUG, does appear in most devices but not in galaxy fold*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

.nav-toggle-label {
    font-size: 1.5rem;
    padding-left: 5px;


}

/* main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer */
footer{
   
}
.social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:#CE7012;
    box-shadow: 0 -2px 2px #3a3a3a;
}

/* BUG, color for icons gets overridden to blue*/
.social-networks li {
    font-size: 160%;
    color: black;
}

/* navbar styles dropdown toggle */

nav {
    display: none;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}


/* hero image */
#hero {
    height: 50vh;
    width: 100vw;
    background: url(../../images/leonardo-hero.jpg) no-repeat center center/cover;
    border-radius: 20%;
}


/* logo */
#logo {
    font-family: "Great vibes", sans-serif;
    letter-spacing: 3px;
}

/* Media query's: */

/* Large or landscape phones */
@media screen and (min-width:576px) {
  
}

/* tablets and larger */
@media screen and (min-width:768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header li {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    nav {
        display: block;
        width: fit-content;

    }

    #menu {
        display: flex;
        flex-direction: row;
    }
}

/* large devices (laptops and desktops) */
@media screen and (min-width: 992px) {}

/* desktops and larger */
@media screen and (min-width: 1200px) {}

/* TODO: make dropdown  appear to right side of  logo 
    Make List item dropdown stick to side of header
   make hero stick to center of screen
   see if alt descriptions in gallery can be improved*/