/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sedan:ital@0;1&display=swap');


/* wildcard selector to ovveride default browser setting*/
* {
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* general styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Sedan", sans-serif;
}

/* header */
header {    
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;  
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 1px;
    
}

#menu  li{
    top:100%;
}

/* BUG, does appear in most devices but not in galaxy fold*/
.active{
    border-bottom: 1px solid #3a3a3a;
}

.nav-toggle-label{
    font-size: 1.5rem;
    padding-left: 5px;
    
    
}

/* main content */
main {
    flex: 1 0 auto;
    background-color: aquamarine;
    margin-top: 47px;
}

/* footer */
footer {
    background-color: brown;
}

/* navbar styles dropdown toggle */

nav {
    display: none;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}



#hero {
    height: 5rem;
    width: 100%;
    background: url(../../images/leonardo-hero.jpg) no-repeat center center/cover;
}


/* logo */
#logo {
    font-family: "Great vibes", sans-serif;
    letter-spacing: 3px;
}

/* Media query's: */

/* Large or landscape phones */
@media screen and (min-width:576px) {}

/* tablets and larger */
@media screen and (min-width:768px) {}

/* large devices (laptops and desktops) */
@media screen and (min-width: 992px) {}

/* desktops and larger */
@media screen and (min-width: 1200px) {}

/* TODO: make dropdown  appear to right side of  logo */